@inherits LayoutComponentBase
@using FE_HumanResources.Models
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@using Blazored.Toast.Configuration

@if (userModel == null)
{
    <FE_HumanResources.Pages.Login />
}
else
{
    <RadzenLayout style="position: relative" class="page">
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <RadzenLabel Text="Industrias Francelli RH" />
                <TopMenu />
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" style="position: absolute">
            <SideBar />
            <div class="rz-p-4">
                Sidebar
            </div>
        </RadzenSidebar>
        <RadzenFooter>
            Industrias Francelli Todos los Derechos Reservados 2024
        </RadzenFooter>
        <article class="content px-4">
            @Body
            <BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />
            <RadzenContextMenu />
            <RadzenNotification />
            <RadzenDialog />
            <RadzenTooltip />
        </article>
    </RadzenLayout>

}

@code {
    bool sidebarExpanded = false;
    private UserModel? userModel = new UserModel();
    protected override async Task OnInitializedAsync()
    {
        userModel = null;
        string? usr = await LocalStorage.GetItemAsync<string>("logedUser");

        if (!string.IsNullOrEmpty(usr))
        {
            userModel = JsonConvert.DeserializeObject<UserModel>(usr);
        }
    }
}