@inherits LayoutComponentBase
@using FE_HumanResources.Entities
@using FE_HumanResources.Models
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

@if (userModel == null)
{
    <FE_HumanResources.Pages.Login />
}
else
{
    <RadzenLayout class="page">
        <RadzenHeader>
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                <img src="source/branding-institucional/Logo.png" alt="" width="32px">
                <RadzenLabel Text="Industrias Francelli" />
                <TopMenu />
            </RadzenStack>
        </RadzenHeader>
        <RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded">
            <div class="rz-p-4">
                <SideBar />
            </div>
        </RadzenSidebar>
        <article class="content px-4">
            @Body
        </article>
        <RadzenFooter class="rz-text-align-center">
            Industrias Francelli Todos los Derechos Reservados 2024
        </RadzenFooter>
    </RadzenLayout>

}

<RadzenComponents />
<RadzenContextMenu />
<RadzenNotification />
<RadzenDialog />
<RadzenTooltip />

@code {
    bool sidebarExpanded = true;
    private UserEntity? userModel = new UserEntity();
    protected override async Task OnInitializedAsync()
    {
        userModel = null;
        string? usr = await LocalStorage.GetItemAsync<string>("logedUser");

        if (!string.IsNullOrEmpty(usr))
        {
            userModel = JsonConvert.DeserializeObject<UserEntity>(usr);
        }
    }
}