@inherits LayoutComponentBase
@using FE_HumanResources.Models
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@using Blazored.Toast.Configuration

@if (userModel == null)
{
    <FE_HumanResources.Pages.Login />
}
else
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>
            <article class="content px-4">
                @Body
                <BlazoredToasts Position="ToastPosition.TopRight" Timeout="10" IconType="IconType.FontAwesome"
                    SuccessClass="success-toast-override" SuccessIcon="fa fa-thumbs-up" ErrorIcon="fa fa-bug" />
            </article>
        </main>
    </div>

}

@code {
    private UserModel? userModel = new UserModel();

    protected override async Task OnInitializedAsync()
    {
        userModel = null;
        string? usr = await LocalStorage.GetItemAsync<string>("logedUser");

        if (!string.IsNullOrEmpty(usr))
        {
            userModel = JsonConvert.DeserializeObject<UserModel>(usr);
        }
    }
}