@page "/RestorePassword"

<h1>Hola</h1>

@code {

    class Model
    {
        public string Password { get; set; }
        public string RepeatPassword { get; set; }
    }

    Model model = new Model();
    bool popup;

    void Log(string eventName, string value)
    {
        Console.Write($"{eventName}: {value}");
    }

    void OnSubmit(Model model)
    {

    }

    void OnInvalidSubmit(FormInvalidSubmitEventArgs args)
    {
        
    }
}
