<style>
    .card {
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        text-align: center;
    }

</style>

<div class="card">
    <div class="card-body">
        <h1 class="display-4">Acceso denegado</h1>
        <p class="lead">No estás autorizado para ver esta página.</p>
        <hr class="my-4">
        <p>Por favor, contacta con el administrador si crees que esto es un error.</p>
    </div>
</div>

@code{

}