@page "/usersgrid"
@using System.Net.Http.Headers
@using FE_HumanResources.Models
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager
@inject IToastService toastService
@inject HttpClient Http
<div class="nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_content">
            <main>
                <br />
                <div class="row">
                    <div class="col">
                        <button class="btn btn-primary" @onclick="(() => CreateUser())">Crear</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" @onclick="(() => GoToHistoricUsers())">Historico</button>
                    </div>
                </div>
                <hr>
                <div>
                    <br />
                    <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                                    AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                                    Data="@userModel" TItem="UserModel" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or"
                                    SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedUser>
                        <Columns>
                            <RadzenDataGridColumn TItem="UserModel" Property="UserName" Title="Nombre" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
                            <RadzenDataGridColumn TItem="UserModel" Property="LastName" Title="Apellido" Frozen="true" Width="160px" />
                            <RadzenDataGridColumn TItem="UserModel" Property="JobTitle" Title="Titulo" Width="160px" />
                            <RadzenDataGridColumn TItem="UserModel" Property="Phone" Title="Telefono" FormatString="{0:d}" Width="200px" />
                            <RadzenDataGridColumn TItem="UserModel" Property="Email" Title="Correo" Width="300px" />
                            <RadzenDataGridColumn TItem="UserModel" Context="employee" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Width="156px">
                                <Template Context="employee">
                                    <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                                  Click="@(args => ViewUser(employee.Uuid))" @onclick:stopPropagation="true">
                                    </RadzenButton>
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                </div>
            </main>
        </div>
    </div>
</div>
@code {

    private int Count = 1;
    private IEnumerable<UserModel> userModel;
    private IList<UserModel> selectedUser;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        string? jwt = await LocalStorage.GetItemAsync<string>("jwt");
        if (!string.IsNullOrEmpty(jwt))
        {
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", jwt);
            HttpResponseMessage response = await Http.GetAsync("api/User/GetAll");
            if (response.IsSuccessStatusCode)
            {
                string content = response.Content.ReadAsStringAsync().Result;
                userModel = JsonConvert.DeserializeObject<IEnumerable<UserModel>>(content);
                if (userModel == null)
                {
                    toastService.ShowWarning("Error al obtenerla lista de Usuarios");
                }
                selectedUser = new List<UserModel>() { userModel.FirstOrDefault() };
            }
        }
        else
        {
            await LocalStorage.ClearAsync();
            NavigationManager.NavigateTo("login", true);
        }


    }

    private void DeleteUser(string uuid)
    {
        toastService.ShowInfo("Esta opcion pronto estara disponible, solo para usuarios Administradores");
    }

    private void ViewUser(string uuid)
    {
        NavigationManager.NavigateTo($"user/{uuid}", true);
    }

    private void CreateUser()
    {
        NavigationManager.NavigateTo($"CreateUser", true);
    }

    private void GoToHistoricUsers()
    {
        NavigationManager.NavigateTo($"historicusergrid", true);
    }



}
