@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private async void IncrementCount()
    {
        HttpResponseMessage response = await Http.PostAsJsonAsync("api/login", new { Email = "j.emanuel.gm@outlook.com", Password = "42030048" });
        var content = response.Content.ReadAsStringAsync();
    }
}
