@page "/dashboard"
@using FE_HumanResources.Entities
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<RadzenBody Gap="1rem" Class="rz-p-sm-12">
    <p>Hola <strong>@username</strong></p>

</RadzenBody>

@code {
    private UserEntity? UserEntity = new UserEntity();
    string username = "";
    protected override async Task OnInitializedAsync()
    {

        UserEntity = null;
        string? usr = await LocalStorage.GetItemAsync<string>("logedUser");

        if (!string.IsNullOrEmpty(usr))
        {
            UserEntity = JsonConvert.DeserializeObject<UserEntity>(usr);
            username = UserEntity.UserName + " " + UserEntity.LastName;
        }
        else
        {
            await LocalStorage.ClearAsync();
            NavigationManager.NavigateTo("login", true);
        }
    }
}
