@page "/dashboard"
@using FE_HumanResources.Models
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager


<RadzenBody>
    <div class="rz-p-4">
        <h1>Welcome @username</h1>
    </div>
</RadzenBody>

@code {
    private UserModel? userModel = new UserModel();
    string username = "";
    protected override async Task OnInitializedAsync()
    {

        userModel = null;
        string? usr = await LocalStorage.GetItemAsync<string>("logedUser");

        if (!string.IsNullOrEmpty(usr))
        {
            userModel = JsonConvert.DeserializeObject<UserModel>(usr);
            username = userModel.UserName + " " + userModel.LastName;
        }
        else
        {
            await LocalStorage.ClearAsync();
            NavigationManager.NavigateTo("login", true);
        }
    }
}
